*{
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}
 
 /*Quitar*/
#seccion{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#seccion .container{
    padding: 150px 12px;
}

#seccion h2{
    margin-top: 0;
    font-size: 3.2em;
}

#seccion p{
    margin: 20px;
    display: none;
    
}

#seccion .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/fondo.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/fondo.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/fondo.jpg");

}
 
@media (min-width: 850px){
    header .container{
        flex-direction: row;
        justify-content: space-between; /*Quitar en caso de*/
    }

    /*Quitar*/
 #seccion .programas{
    display: flex;
    justify-content: center;
}

#seccion p{
    display: block;
    margin-bottom: 30px;
    font-size: 20px;
    justify-content: center;
    margin: 25px;
}

#seccion h2{
    font-size: 4em;
}

#seccion h3{
    margin-top: 0;
    font-size: 50px;
}

#seccion .carta{
    padding: 50px;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/estructura.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/cielo.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/diseño.png");



}
.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/motores.jpg");
}

.carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/boceto.jpg");
}
    @media (min-width: 1100px){
        #caracteristicas{
            background-position-x: calc(100vw - 800px);
        }
    }
}
 
/*menú*/
body{
    background-color: #ffffff;
}

/* Estilos para el ícono del Menú */
.icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}

.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

/* Estilos para el contenedor del Menú */
.cont-menu{
    background-color: rgb(121, 28, 193);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

/* Estilos por agregar en JavaScript */
.active{
    transform: translate(-600px);
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont-menu ul li:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}